@import url("file:///home/tony/.local/share/mycachy/current-theme/waybar.css");

* {
  background-color: @bg;
  color: @fg;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left  { margin-left: 8px; }
.modules-right { margin-right: 8px; }

#workspaces button {
  all: initial;
  color: @fg;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty   { opacity: 0.4; }
#workspaces button.active  { color: @purple; }
#workspaces button:hover   { color: @accent; }

#clock {
  margin: 0 8px;
}

#bluetooth,
#network,
#pulseaudio,
#cpu,
#battery,
#custom-nvidia,
#custom-damx,
#custom-weather,
#custom-idle-indicator,
#custom-notification-indicator {
  margin: 0 7px;
}

#custom-idle-indicator.active,
#custom-notification-indicator.active {
  color: @red;
}

#custom-expand-icon {
  margin: 0 4px;
  color: @muted;
}

#tray {
  margin: 0 4px;
}

#tray > .passive { -gtk-icon-effect: dim; }
#tray > .needs-attention { -gtk-icon-effect: highlight; }

#battery.warning  { color: @yellow; }
#battery.critical { color: @red; }

tooltip {
  background-color: @surface;
  border: 1px solid @accent;
  border-radius: 4px;
  padding: 4px;
}
