window#osd {
  border-radius: 12px;
  border: 2px solid #313244;
  background-color: rgba(30, 30, 46, 0.92);
  opacity: 0.97;
}

window#osd #container {
  margin: 14px 20px;
}

window#osd image,
window#osd label {
  color: #cdd6f4;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 11pt;
}

window#osd progressbar,
window#osd segmentedprogress {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: rgba(205, 214, 244, 0.15);
}

window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #89b4fa;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd segment {
  margin-left: 8px;
}

window#osd segment:first-child {
  margin-left: 0;
}
